{% extends 'main_template.html' %}
{% load render_partial %}
{% block title %}
    محصولات|{{ group.group_title }}
{% endblock title %}
{% block content %}

    <div class="block block-products-carousel" data-layout="grid-5">
        <div class="container">
            {% if products %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'main:index' %}">خانه</a>
                        /
                    </li>
                        <li class="breadcrumb-item">  
                            <a href="#">{{group.group_title}}</a> 
                        </li>
                </ol>

                <div class="product_flexbox">                                            
                    {% for product in products %}
                        {% include 'partials/product/product_box.html' with type=1 %}
                    {% endfor %}
                </div>
            {% else %}
                <h3>هیچ محصولی برای این دسته بندی موجود نیست</h3>
            {% endif %}
        </div>
    </div>

{% endblock content %}