{% extends 'main_template.html' %}
{% load render_partial %}
{% block title %}
    مقالات 
{% endblock title %}
{% block content %}

<h1>لیست مقالات</h1>
  
  <div class="grid-container">
    {% for post in posts %}
      <div class="grid-item">
        <a href="{{ post.get_absolute_url }}"><img src="{{ media_url }}{{ post.image_name }}" alt="عکس مقاله" style="width: 300px; height: 200;"/></a>
        <div class="meta">
            <p>نویسنده: {{ post.author }} | تاریخ انتشار: {{ post.published_at|date:"Y-m-d" }}</p>
          </div>
        <h2><a href="{{ post.get_absolute_url }}">{{ post.article_title }}</a></h2>
        <p>{{ post.content|truncatewords:20 }} <a href="{{ post.get_absolute_url }}">ادامه...</a></p>

      </div>
      <br>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; اول</a>
          <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
          صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">آخر &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>

{% endblock %}