{% extends 'user_panel_template.html' %}
{% load render_partial %}
{% block titile %}
      ویرایش پروفایل  
{% endblock titile %}
{% block content %}
    <div class="block">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">ویرایش پروفایل</h3>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.as_p}}
                                {% if image_url %}
                                    <img src="{{media_url}}{{image_url}}" style="width= 50px; height= 50px;">
                                {% else %}
                                    <img src="{{media_url}}/images/customer/nophoto.jpg" style="width= 50px; height= 50px;">
                                {% endif %}
                                <div class="form-group">                    
                                    <button type="submit" class="btn btn-primary mt-4">ویرایش</button>
                                    <a href="{% url 'accounts:userpanel' %}">انصراف</a>
                                </div>
                            </form>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
