{% comment %} {% extends 'main_template.html' %}
{% load humanize %}
{% load render_partial %}
{% block title %}
    فروشگاه درسمن
{% endblock title %}
{% block content %}

<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'main:index' %}">خانه</a>
                            /
                        </li>
                            <li class="breadcrumb-item">  
                                <a href="#">محصولات/ {{current_group.group_title}}</a> 
                            </li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>محصولات گروه <span style="color: green;">{{current_group.group_title}}</span></h1></div>
        </div>
    </div>
    <div class="container">
                <div class="shop-layout__content">
                    <div class="block">
                        <div class="products-view">
                            <div class="products-view__options">
                                <div class="view-options">
                                    <div class="view-options__legend">
                                        تعداد کل محصولات این گروه : {{product_count}} محصول
                                    </div>
                                </div>
                            </div>
                            <div class="products-view__list products-list" data-layout="grid-3-sidebar" data-with-features="false">
                                <div class="products-list__body">                                
                                    {% for product in products %}
                                        {% include 'partials/product/product_box.html' with type=3 %}
                                    {% endfor %}                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- site__body / end -->
    {% endblock content %} {% endcomment %}
