{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
			فروشگاه پینار
        {% endblock title %}
    </title>
	<link rel="icon" type="image/png" href="{{media_url}}images/favicon3.jpg">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.5.3/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<!-- js -->

	{% comment %} <script src="{% static 'vendor/jquery-3.7.1/jquery.min.js' %}"></script> {% endcomment %}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="{% static 'vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'vendor/owl-carousel-2.3.4/owl.carousel.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/myscripts.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/admin_script.js' %}" type="text/javascript"></script>
	<!-- font - fontawesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-5.6.3/css/all.min.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
	{% include 'partials/messages.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'partials/footer.html' %}
    
</body>
</html>