{% extends 'main_template.html' %}
{% block title %}
    درباره فروشگاه پینار
{% endblock title %}
{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <h1>درباره فروشگاه پینار</h1>
                </div>
                <div>
                    <h3>استراتژی مدیران پینار از همان ابتدا خلق بیشترین مزیت برای مشتریان و تامین رضایت حداکثری آنها بود.</h3>
                    <p> آنها موفقیت خود را صرفا در گرو رضایت مشتریان خود می دانستند، زیرا آگاه بودند که در دنیای کنونی و با وسایل ارتباطی پیشرفته و گسترش شبکه های اجتماعی، رضایت مشتریان تنها برگ برنده آنها خواهد بود و لذا سعی نمودند بجای صرف بودجه های کلان برای تبلیغات، تمرکز و بودجه خود را صرف تامین حداکثر رضایت مشتریان کنند.
                        عرضه محصولات با کمترین قیمت و با کمترین حاشیه سود، عرضه محصولات مختلف با تنوع بالا در برندها، عرضه محصولات برندهای معتبر و شناخته شده با گارانتی های اصلی، ارسال سریع حتی در مورد کالاهای حجیم (نظیر یخچال های ساید بای ساید)، راه اندازی یک وب سایت با امکانات فنی کامل و کاربرپسند برای سهولت استفاده توسط مشتریان، روشهای ارسال متعدد برای انتخاب توسط مشتریان، سیستم هوشمند پیگیری سفارشات در کنار سایر امکانات منحصر به فردی که برای تامین رضایت مشتریان به مرور زمان توسط این فروشگاه ارائه خواهد شد، نشان دهنده رویکرد جدیدی در بین فروشگاه های اینترنتی می باشد.</p>
                        <div>
                            <a href="">خواندن بیشتر</a>
                        </div>
                </div>
            </div>
            <div>
                <img src="{{media_url}}images/aboutUs.jpg">
            </div>
        </div>
    </div>
{% endblock content %}