<div class="site-header__nav-panel">
    <div class="nav-panel">
        <div class="nav-panel__container container">
            <div class="nav-panel__row">
                <div class="menueButton" onclick="showSidebar()">
                    <a href="#">
                        <img src="{{media_url}}svg/menueSidebar.svg">
                    </a>
                </div>
                <div class="nav-panel__logo">
                    <a href="{% url 'main:index' %}">
                        <img src="{{media_url}}images/favicon4.png" alt="">
                    </a>
                </div>
                <!-- .nav-links - category-->
                <div class="nav-panel__nav-links nav-links">
                    <ul class="nav-links__list">
                        <li class="nav-links__item nav-links__item--with-submenu">
                            <a href="{% url 'main:index' %}">
                                <span><i class="fa fa-home"></i>&nbsp; خانه</span>
                            </a>
                        </li>
                        <li class="nav-links__item nav-links__item--with-submenu hideOnMobile">
                            <a href="#">
                                <span>
                                    دسته بندی ها
                                    &nbsp;
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="nav-links__megamenu nav-links__megamenu--size--nl">
                                <!-- .megamenu -->
                                <div class="megamenu">
                                    <div class="row">
                                        <div class="col">
                                            {% for node in group_tree %}
                                                <ul class="megamenu__links megamenu__links--level--0">
                                                
                                                    <li class="megamenu__item megamenu__item--with-submenu">
                                                        <a href="{% url 'products:category' node.group.slug %}">{{ node.group.group_title }}</a>
                                                        {% if node.children %}
                                                            <ul class="megamenu__links megamenu__links--level--1">
                                                                {% for child_node in node.children %}
                                                                    <li class="megamenu__item">
                                                                        <a href="{% url 'products:category' child_node.group.slug %}">{{ child_node.group.group_title }}</a>
                                                                        {% if child_node.children %}
                                                                            <ul>
                                                                                {% for sub_child_node in child_node.children %}
                                                                                <li class="megamenu__links--level--2">
                                                                                        <a href="{% url 'products:category' sub_child_node.group.slug %}">
                                                                                            {{ sub_child_node.group.group_title }}
                                                                                        </a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- .megamenu / end -->
                            </div>
                        </li>
                        <li class="nav-links__item nav-links__item--with-submenu hideOnMobile">
                            <a href="#">
                                <span>
                                    حساب کاربری&nbsp;<i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="nav-links__menu">
                                
                                {% if user.is_authenticated %}
                                    <ul class="menu menu--layout--classic">
                                        <li><a href="{% url 'accounts:logout' %}">خروج</a></li>

                                    </ul>
                                {% else %}
                                    <ul class="menu menu--layout--classic">
                                        <li><a href="{% url 'accounts:login' %}">ورود</a></li>
                                        <li><a href="{% url 'accounts:register' %}">ثبت نام</a></li>
                                    </ul>
                                {% endif %}
                                    
                                <!-- .menu -->

                                <!-- .menu / end -->
                            </div>
                        </li>
                        <li class="nav-links__item nav-links__item--with-submenu hideOnMobile">
                            <a href="{% url 'blogs:blog_list' %}">
                                <span><i class="fa fa-newspaper"></i>&nbsp; بلاگ</span>
                            </a>
                        </li>
                    </ul>
                </div>  
                <!-- .nav-links / end -->

                <div class="nav-panel__indicators">
                    <div class="indicator indicator--trigger--click">
                        <button type="button" class="indicator__button">
                            <span class="indicator__area">
                                <i class="fa fa-search"></i>
                            </span>
                        </button>
                        <div class="indicator__dropdown">
                            <div class="drop-search">
                                <form action="{% url 'search:search_view' %}" class="drop-search__form">
                                    <input class="drop-search__input" name="q" placeholder="جتسجو کنید ..." 
                                    aria-label="Site search" type="text" autocomplete="off">
                                    <button class="drop-search__button drop-search__button--submit" type="submit">
                                        <i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="favorite_count_icon" class="indicator">
                        <a href="{% url 'csf:show_favorite_list' %}" class="indicator__button">
                            <span class="indicator__area">
                                <i class="fa fa-heart"></i>
                                <span class="indicator__value" id="favorite_count">0</span>
                            </span>
                        </a>
                    </div>
                    <div class="indicator">
                        <a href="{% url 'orders:shop_cart' %}" class="indicator__button">
                            <span class="indicator__area">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="indicator__value" id="indicator__value">0</span>
                            </span>
                        </a>
                    </div>
                     <div id="compare_count_icon" class="indicator">
                        <a href="{% url 'products:product_compare' %}" class="indicator__button">
                            <span class="indicator__area">
                                <i class="fa fa-play"></i>
                                <span class="indicator__value" id="compare_count">0</span>
                            </span>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>



<div  class="nav-sidebar">
    <div class="sidebar-close-btn" onclick="hideSidebar()"><i class="fas fa-times"></i></div>
    <div class="sidebar-menu">
        <div class="sidebar-item">
            <a class="sidebar-btn-item" href="#"><i class="fa fa-th"></i>دسته بندی ها<i class="fa fa-angle-left fa fa-angle-down"></i></a>
            <div  class="sidebar-submenu">
                {% for node in group_tree %}
                    <a class="sidebar-subitem" href="{% url 'products:category' node.group.slug %}"><i>{{ node.group.group_title }}<i></a>
                {% endfor %}
            </div>
        </div>

        {% if user.is_authenticated %}                              
            <div class="sidebar-item"><a href="{% url 'accounts:logout' %}"><i class="fa fa-user"></i>خروج</a></div>                           
        {% else %}
            <div class="sidebar-item"><a href="{% url 'accounts:login' %}"><i class="fa fa-user"></i>ورود</a></div>
            <div class="sidebar-item"><a href="{% url 'accounts:register' %}"><i class="fa fa-user"></i>ثبت نام</a></div>
        {% endif %}
        <div class="sidebar-item"><a href="{% url 'blogs:blog_list' %}"><i class="fa fa-blog"></i>مقالات</a></div>
        <div class="sidebar-item"><a href="{% url 'main:about_us' %}"><i class="fa fa-info-circle"></i>درباره ما</a></div>
        <div class="sidebar-item"><a href="{% url 'main:contact_us' %}"><i class="fa fa-envelope"></i>تماس با ما</a></div>
        <div class="sidebar-item"><a href="{% url 'main:rules' %}"><i class="fa fa-gavel"></i>قوانین</a></div>    
    </div>
</div>
