{% extends 'main_template.html' %}
{% block title %}
    قوانین فروشگاه پینار
{% endblock title %}
{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <h1>قوانین و ضوابط کلی فروشگاه پینار</h1>
                </div>
                <div>
                    <h3>استراتژی مدیران پینار از همان ابتدا خلق بیشترین مزیت برای مشتریان و تامین رضایت حداکثری آنها بود.</h3>
                    <p>
                        کاربرگ گرامی لطفا قبل از خرید از پینار استور قوانین و مقررات سایت را مطالعه فرمایید :
                        
                             این وب سایت تابع قوانین جمهوری اسلامی ایران می باشد.
                             کپی مطلب از این وب سایت با ذکر منبع بلامانع است.
                            پینارشاپ متعهد میگردد اطلاعات شخصی کاربران را در حد توان مراقبت نموده و این اطلاعات  به هیچ فرد حقیقی و حقوقی ارائه نگردد .(فقط در صورت درخواست مقامات قضایی و دستور قاضی انجام خواهد شد)
                            مشتریان پینار استور باید اطلاعات صحیح خود هنگام خرید وارد نمایند ، زیرا  تنها راه  برای  برقراری ارتباط با خریدارن ازطریق  اطلاعات ارائه شده توسط مشتری می باشد.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}