   <!-- .block-products-carousel -->
   <div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        {% include 'partials/product/root_group.html' with title='جدیدترین محصولات' %}
            <div class="product_flexbox">
                                                    
                {% for product in products %}
                    {% include 'partials/product/product_box.html' with type=2 %}
                {% endfor %}
        </div>
    </div>
</div>
<!-- .block-products-carousel / end -->